.container {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 1024px) {
  .container {
    flex-direction: row;
    /* flex-wrap: wrap; */
  }
  main {
    flex: 2;
    order: 2;
  }
  aside {
    order: 1;
    flex: 1;
  }
}
